html{
    position: relative;
    height:100%;
}
body,html{
    width:100%;
    color:#333;
    font-size:14px;
    background:#f3f8fb;
}
.nav_btn{
    display:none;
}
.innerbox{
    width:95%;
    max-width:1600px;
    margin:0 auto;
    overflow: hidden;
    padding:0 10px 30px;
    box-sizing: border-box;
}
.main_header{
    width:100%;
    height:60px;
    border-bottom:1px solid #0c9;
    background:#fff;
}
.main_header>.innerbox{
    padding:0 10px 0;
}
.gnb{
    float:right;
}
.gnb>ul>li{
    float:left;
    margin-left:20px;
    height:60px;
}
.gnb>ul>li>a{
    display:block;
    height:60px;
    line-height: 60px;
    font-weight: bold;
}
.main_container{
    width:100%;
    height:auto;
}
.user_list_wrap{
    width:100%;
    height:auto;
    margin-top:50px;
    overflow: hidden;
    box-sizing: border-box;
    background:#fff;
    border-radius: 5px;
    padding:0 0px 30px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);  
}
h3{
    text-align: left;
    height:50px;
    font-size:22px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    margin:20px 0 10px;
    color:#333;
}
.user_list_wrap>h3{
    text-indent: 15px;
}
.list_wrap{
    width:98%;
    box-sizing: border-box;
    margin:0 auto;
}
/* .list_left_top{
    width:100%;
    height:60px;
    overflow: hidden;
    background:#fff;
}
.list_right_top{
    width:100%;
    height:60px;
    overflow: hidden;
    background:#fff;
}
.list_right_top>h4{
    height:40px;
    margin-top:20px;
    text-align: center;
    line-height: 40px;
}
.list_left_top>ul{
    width:95%;
    margin:20px auto 0;
} */
.add_btn{
    float:right;
    display:block;    
    width:70px;
    height:30px;
    margin:0 10px 10px 0;
    background:#2cc059;
    border:none;
    color:#fff;
}
.delete_btn{
    display:block;    
    width:70px;
    height:30px;
    margin:5px auto;
    background:#999;
    border:none;
    color:#fff;
}
.list_fix{
    display:none;
    position: absolute;
    left:50%;
    top:40%;
    transform:translate(-50%,-50%);
}
.list_table{
    width:100%;
    margin:0 auto;
    table-layout: fixed;
}
.list_table_head{
    width:95%;
    margin:20px auto 0;
}
.list_table_head>li{
    float:left;
    width:25%;
    height:40px;
    text-align: center;
    line-height:40px;
}
.list_table .col1{
    width:8%;
}
.list_table .col2{
    width:10%;
}
.list_table .col3{
    width:8%;
}
.list_table .col4{
    width:8%;
}
.list_table .col5{
    width:8%;
}
.list_table .col6{
    width:8%;
}
.list_table .col7{
    width:10%;
}
.list_table .col8{
    width:20%;
}
.list_table .col9{
    width:10%;
}
.list_table>thead>tr{
    height:40px;
}
.list_table>thead>tr>th{
    height:40px;
    vertical-align: middle;
    border-bottom:1px solid #ccc;
    font-weight: bold;
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    color:#333;
}
.list_table>tbody>tr{
    height:40px;
}
.list_table>tbody>tr>td{
    height:40px;
    vertical-align: middle;
    text-align: center;
    background:#fff;
    border-bottom:1px solid #ccc;
    cursor: pointer;
}
.list_table>tbody>tr>td>a{
    width:100%;
    height:40px;
    display:block;
    line-height: 40px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.right_box{
    width:100%;
    height:40px;
    text-align: center;
    line-height: 40px;
    background:#fff;
    box-sizing: border-box;
    border-top:none;
    padding:0 10px;
    border-left:0px;
}
.right_box1{
    font-weight: bold;
    border-top:1px solid #999;
    background:#2cc059;
    color:#fff;
}
.right_box>input{
    display:block;
    width:70%;
    height:30px;
    float:left;
    border:1px solid #ccc;
    border-right:none;
    margin-top:5px;
    text-indent: 10px;
}
.right_box>button{
    display:block;
    height:30px;
    width:30%;
    float:left;
    border:1px solid #ccc;
    margin-top:5px;
    border-left:none;
    background:#2cc059;
    color:#fff;
    font-size:12px;
}
.list_num{
    width:50%;
    margin:20px auto 0px;
    overflow: hidden;
    text-align: center;
}
.list_num>li{
    width:9%;
    float:left;
}
.list_num>li>a{
    display:block;
    width:100%;
    height:auto;
}
.add_wrap{
    position: absolute;
    width:90%;
    max-width:600px;
    height:auto;
    left:50%;
    top:45%;
    display:none;
    transform:translate(-50%,-50%);
    background:#fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);  
}
.add_wrap>h4{
    text-align: center;
    font-size:20px;
    font-weight: bold;
    margin:20px 0;
}
.add_wrap>ul{
    width:95%;
    margin:0 auto;
}
.add_wrap>ul>li{
    width:100%;
    height:80px;
}
.add_wrap>ul>li>p{
    font-size:16px;
}
.add_wrap>ul>li>input{
    display:block;
    width:100%;
    height:40px;
    margin-top:10px;
    text-indent: 10px;
}
.btn_wrap{
    width:155px;
    height:30px;
    margin:0 auto 30px;
}
.add_wrap_btn{
    width:70px;
    height:30px;
    background:#2cc059;
    color:#fff;
    border:none;
}
.add_wrap_btn:nth-of-type(2){
    margin-left:10px;
    background:#afafaf;
    color:#333;
}
.login_wrap{
    width:95%;
    max-width: 660px;
    margin:0 auto;
    background:#fff;
    overflow: hidden;
    border-radius: 5px;
    margin-top:50px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);  
}
.login_wrap>h3{
    width:80%;
    margin:20px auto 30px;
}
.login_wrap>p{
    width:80%;
    margin:30px auto 10px;
    font-size:18px;
}
.login_wrap>input{
    display:block;
    width:80%;
    height:40px;
    margin:0 auto 10px;
    text-indent: 10px;
}
.login_wrap>button{
    width:150px;
    height:40px;
    background:#2cc059;
    display:block;
    border:1px solid #e1e1e1;
    margin:30px auto 30px;
    color:#fff;
    text-align: center;
}
.admin_add{
    width:100%;
    max-width:660px;
    margin:50px auto 0;
    background:#fff;
    overflow: hidden;
}
.admin_add>h3{
    width:80%;
    margin:20px auto 30px;
}
.admin_add>ul{
    width:80%;
    margin:0 auto;
}
.admin_add>ul>li{
    width:100%;
    height:80px;
}
.admin_add>ul>li>p{
    font-size:16px;
}
.admin_add>ul>li>input{
    display:block;
    width:100%;
    height:40px;
    margin-top:10px;
    text-indent: 10px;
}
.admin_add>.btn_wrap{
    width:170px;
    height:auto;
    overflow: hidden;
}
.admin_add>.btn_wrap>button{
    width:80px;
    height:40px;
    background:#2cc059;
    display:block;
    float:left;
    border:1px solid #e1e1e1;
    margin:30px auto 30px;
    color:#fff;
    text-align: center;
}
.admin_add>.btn_wrap>button:nth-child(2){
    background:#a1a1a1;
    color:#333;
    margin-left:10px;
}
.user_detail_wrap{
    width:100%;
    background:#fff;
    max-width:660px;
    margin:50px auto 0;
    border-radius: 5px;
    padding:0px 0 50px;
    box-sizing: border-box;  
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);;  
    overflow: hidden;

}
.user_detail_wrap>h3{
    width:80%;
    margin:30px auto 20px;
}
.user_detail_wrap>p{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    text-indent: 10px;
    width: 80%;
    margin: 0 auto 30px;
}
.user_detail_wrap>p:first-of-type{
    margin-top:50px;
}
.user_detail_wrap>p>span{
    display:inline-block;
    width:100px;
    font-weight: bold;
    margin-right:15px;
}
.email_search_wrap{
    width:100%;
    background:#fff;
    max-width: 660px;
    border-radius: 5px;
    padding:0px 0 20px;
    margin:50px auto 0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);  ;
    overflow: hidden;
}
.email_search_wrap>h3{
    width:80%;
    margin:20px auto 30px;
}
.email_search_wrap>input{
    display:block;
    height:40px;
    width:80%;
    text-indent: 10px;
    margin:30px auto 0;
}
.email_search_wrap>button{
    display:block;
    height:40px;
    width:150px;
    background:#2cc059;
    border:1px solid #e1e1e1;
    margin:40px auto 20px;
    color:#fff;
    font-weight: bold;
}
.search_result_wrap{
    display:none;
    width:95%;
    max-width:700px;
    position: absolute;
    top:45%;
    left:50%;
    background:#fff;
    transform:translate(-50%,-50%);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.search_result_wrap>h4{
    font-size:20px;
    text-align: center;
    margin:20px 0;
    font-weight: bold;
}
.search_result_wrap>.list_table{
    width:95%;
    margin-bottom:30px;
}
.back_btn_2{
    display:block;
    width:100px;
    height:30px;
    margin:30px auto;
}
.main_footer{
    width:100%;
    height:150px;
    background:#fff !important;
    border-top:1px solid #cacaca !important;
}
.main_footer>.innerbox>p{
    margin-top:120px;
}
@media screen and (max-width:1024px){
    .main_header{
        position: relative;
        border-bottom:1px solid #cacaca;
    }
    .nav_btn{
        display:block;
        float:right;
        width:50px;
        height:50px;
        margin-top:5px;
        background:url(../img/hambergur.png) no-repeat center;
        background-size:contain;
        border:none;
    }
    .gnb{
        display:none;
        position: absolute;
        width:100%;
        right:0;
        top:61px;
        background:#fff;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);  
    }
    .gnb>ul>li{
        width:100%;
        float:none;
        margin-left:0;
    }
    .gnb>ul>li>a{
        width:100%;
        text-align:left;
        text-indent: 20px;
        border-bottom:1px solid #cacaca;
    }
    .list_table>thead>tr>th{
        font-size:13px;
    }
    .right_box>input{
        display:block;
        width:60%;
        height:30px;
        float:left;
        border:1px solid #ccc;
        border-right:none;
        margin-top:5px;
        text-indent: 10px;
    }
    .right_box>button{
        display:block;
        height:30px;
        width:40%;
        float:left;
        border:1px solid #ccc;
        margin-top:5px;
        border-left:none;
        background:#2cc059;
        color:#fff;
        font-size:12px;
    }
    .login_wrap,.email_search_wrap,.user_detail_wrap,.user_list_wrap{
        margin-bottom:50px;
    }
    
}